body {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

html {
  width: 100%;
  height: 100%;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0 0 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  margin: 0 0 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  p {
    margin: 0 0 2rem;
    font-size: 1.2rem;
    line-height: 1.6;
  }
}

a {
  color: white;
  transition: all 0.2s ease-in-out;
}

a:focus, a:hover {
  color: #cccccc;
  text-decoration: none;
}

#navbar {
  border-bottom: none;
  background: transparent;
  transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
}

#navbar.navbar-shrink {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
}

#navbar a {
  color: white;
  text-transform: uppercase;
}

#navbar a:focus, #navbar a:hover {
  color: #cccccc;
  text-decoration: none;
}

#navbar .navbar-brand {
  font-weight: 700;
  letter-spacing: 1px;
}

#navbar .navbar-toggler {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: white;
  border: 1px solid white;
}

@media (min-width: 992px) {
  #navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #navbar.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #navbar .nav-link.active {
    color: white;
    background-color: #333333;
  }
}

.masthead {
  width: 100%;
  height: 100%;
  text-align: center;
}

.masthead .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 85%;
}

@media (min-width: 992px) {
  .masthead .intro {
    min-width: 65%;
  }
}

.masthead .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.masthead .background video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.content-section {
  padding-top: 150px;
  padding-bottom: 150px;
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

footer {
  padding: 50px 0;
}

.btn {
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: white;
  border: 1px solid white;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid white;
  outline: none;
  background-color: white;
}

.btn-circle {
  font-size: 2rem;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 38px;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}
