@import 'variables.scss';
@import 'mixins.scss';

.btn {
  font-weight: 400;

  transition: all 0.3s ease-in-out;
  text-transform: uppercase;

  border-radius: 0;
}

.btn-default {
  color: $primary;
  border: 1px solid $primary;
  background-color: transparent;

  &:focus,
  &:hover {
    color: black;
    border: 1px solid $primary;
    outline: none;
    background-color: $primary;
  }
}

.btn-circle {
  font-size: 2rem;

  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 38px;

  transition: background 0.3s ease-in-out;

  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
  &:focus,
  &:hover {
    color: white;
    outline: none;
    background: fade-out(white, .9);
  }
}

