<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col col-10 col-lg-8 mx-auto">
        <h2>About Formula U</h2>

        <p class="tagline">Formula U Racing is the Formula SAE team at the University of Utah.</p>
        <p>Formula SAE is a student design and engineering competition organized by the SAE. Students from all around the world design and engineer experimental cars that participate in a gauntlet of technical and racing challenges every year in Lincoln, Nebraska.</p>
        <p>Formula U includes undergraduate and graduate students drawn from nearly every engineering discipline, as well as related majors. The team is always looking for talented, driven students at the U who want to be part of a challenging and rewarding multidisciplinary effort.</p>
        <p>Formula U also heavily relies on corporate sponsors who appreciate the value of this engineering challenge and wish to contribute to the next generation of engineers. All cars are designed, engineered, and con structured by students from raw materials and commercial off-the-shelf parts. Our sponsors support us through material and monetary donations, as well as usage of their knowledge base or manufacturing capability.</p>
      </div>
    </div>
  </div>
</section>

