<header class="masthead">
  <div class="background">
    <video loop muted autoplay poster="img/autocross.png">
      <source src="vid/autocross.webm" type="video/webm"/>
      <source src="vid/autocross.mp4" type="video/mp4"/>
    </video>
  </div>

  <div class="container">
    <div class="row">
      <div class="col intro">
        <img src="img/logo.svg"/>
        <p>Formula SAE at the University of Utah</p>
        <a href="#about" class="btn btn-circle smoothscroll">
          <i class="fa fa-angle-double-down animated"></i>
        </a>
      </div>
    </div>
  </div>
</header>
